* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --com-primary: #1c1c1c;
  --com-secondary: #0282f9;
  --com-dark: #303030;
  --com-white: white;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--com-primary);
}

.container {
  width: 70%;
  max-width: 1176px;
  margin: auto;
}

.row {
  display: flex;
  margin: 0 -0.6rem;
}

[class^="col-"] {
  padding: 0 0.6rem;
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.d_flex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.grow_1 {
  flex-grow: 1;
}

.position_rel {
  position: relative;
}

.py_2 {
  padding: 2rem 0;
}

.pl_2 {
  padding-left: 2.5rem;
}
